.assistant-form,
.doctor-form {
  height: auto;
  padding: 25px;
  margin-bottom: 80px;
  border-radius: 23px;
  background-color: $third-color;

  form {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .row-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .input-label-container {
        width: 50%;
      }
    }
    .input-label-container {
      display: flex;
      margin: 15px 0 15px 0;
      input,
      textarea {
        width: 100%;
        height: 100%;
        color: $primary-color;
        padding-top: 10px;
        padding-left: 5px;
        padding: 10px 15px 10px 15px;
        border: 1px solid transparent;
        border-radius: 23px;
        outline: none;
      }
      textarea {
        height: 150px;
      }
      select {
        border: none;
        width: 50px;
        height: 25px;
        margin-left: 10px;
        font-family: $primary-font;
        color: $primary-color;
      }
      .select-label {
        font-family: $primary-font;
        text-decoration: underline;
        color: $primary-color;
      }
      .label-container {
        display: flex;
        align-items: center;
        justify-content: start;
        position: absolute;
        width: 100%;
        height: 35px;
        pointer-events: none;
      }
      .label-content {
        font-family: $primary-font;
        font-size: 18px;
        color: $primary-color;
        transition: all 0.3s ease;
        padding-left: 10px;
      }
      #texteareaLabel {
        display: flex;
        align-items: baseline;
        height: 160px;
        padding-top: 10px;
      }
      input {
        &:focus,
        &:valid {
          + .label-container {
            &::after {
              width: 100%;
            }
            .label-content {
              transform: translateY(-16px) translateX(-3px) translateZ(0);
              font-size: 12px;
              backface-visibility: hidden;
            }
          }
        }
      }
      textarea {
        &:focus,
        &:valid {
          + .label-container {
            &::after {
              width: 100%;
            }
            .label-content {
              transform: translateY(-12px) translateX(-3px) translateZ(0);
              font-size: 12px;
              backface-visibility: hidden;
            }
          }
        }
      }

      &.cv {
        align-items: center;
        flex-direction: column;
        @include breakpoint($large) {
          flex-direction: row;
        }
        label {
          font-family: $primary-font;
          color: $primary-color;
        }
      }
    }
    .checkboxInput-label-container {
      font-family: $primary-font;
      color: $primary-color;
      width: 100%;
      span {
        text-decoration: underline;
      }
      .checkbox-container {
        label {
          display: flex;
          align-items: center;
          font-family: $primary-font;
          text-decoration: dashed;
          color: $primary-color;
          span {
            text-decoration: none;
          }
          input[type="checkbox"] {
            margin-left: 15px;
          }
        }
      }
      &.cgu {
        margin-bottom: 30px;

        input {
          margin-left: 0 !important;
          margin-right: 10px;
        }

        a {
          margin-inline: 5px;
        }

        label {
          flex-wrap: wrap;
        }
      }
    }

    .input-cv {
      width: auto !important;
    }
    .form-button {
      cursor: pointer;
      width: 170px;
      height: 35px;
      background: $primary-color;
      border-radius: 24px;
      border: none;
      font-family: $primary-font;
      font-style: normal;
      font-size: 18px;
      text-align: center;
      padding: 0px 10px 5px 10px;
      color: $secondary-color;
    }
  }
}
