.pages-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 375px;
  margin: 0px auto;
  .pages-header-title {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 580px;
    top: 185px;
    h1 {
      font-size: 50px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 225px;
    height: 225px;
    background-color: $primary-color;
    background-image: url("../../assets/images/header/Combined\ Shape.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    top: 150px;
    right: 0;
  }
}

@media screen and (max-width: 1000px) {
  .pages-header-container {
    &::after {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .pages-header-container {
    min-height: 220px;
    .pages-header-title {
      width: 100%;
      h1 {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .pages-header-container {
    .pages-header-title {
      top: 120px;
    }
  }
}
