.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 170px;
  height: 35px;
  background: $primary-color;
  border: none;
  font-family: $secondary-font;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin-bottom: 30px;
  color: $secondary-color;
  transition: transform 400ms ease;
  &:hover,
  &:focus {
    transform: translateY(-10px);
  }
  &__icon {
    width: 270px;
    height: 48px;
    box-sizing: border-box;
    &--blue {
      background: $primary-color;
      border: 1px solid $primary-color;
    }
    &--red {
      background: $fourth-color;
      border: 1px solid $fourth-color;
    }
  }
  &__travel,
  &__call {
    width: 150px;
    height: 28px;
    justify-content: space-evenly;
    font-size: 16px;
    color: $primary-color;
    background: $secondary-color;
    border: 1px solid $primary-color;
    margin: 10px 5px 0 0;
    padding: 0 0 2px 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    img {
      max-width: 20px;
    }
  }
  &__show-more {
    width: auto;
    height: auto;
    background: none;
    color: $primary-color;
    font-size: 17px;
    padding: 0;
    margin: 0 0 10px 0;
    transition: none;
    &:hover,
    &:focus {
      transform: none;
    }
    &::after {
      content: url("../../assets/images/icons/right-arrow.png");
      position: relative;
      top: 4.5px;
      left: 3px;
    }
  }
}
