@import "../../styles/Variables.scss";

.job-card {
  display: flex;
  align-items: center;
  width: 550px;
  height: 135px;
  background: #ffffff;
  margin: 25px 0 25px 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform 400ms ease;
  &:hover {
    transform: translateY(-10px);
  }
  .job-img {
    margin: 0 10px 0 10px;
  }
  .job-resume {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    .consultations {
      font-family: $palanquin;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      color: #0596de;
      margin-top: 20px;
      .seven {
        color: #e74c3c;
      }
    }
    .job-title {
      font-family: $palanquin-dark;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      color: #224358;
    }
    .job-contract-place {
      width: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        font-family: $palanquin-dark;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #224358;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .job-card {
    flex-direction: column;
    width: auto;
    height: auto;
    .job-resume {
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }
}
