
  .ourTeam-resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 9px;
    text-align: center;
    max-width: 80%;
    margin: 0 auto 50px;
    span {
      font-family: $primary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 1px;
      color: $primary-color;
    }
    p {
      font-family: $primary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      color: $primary-color;
      max-width: 50%;
    }
  }

.ourTeam-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  .ourTeam-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}

.cp-specialities {
  .speciality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
  }

  span {
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #0596de;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cp-text-button-pink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #0596de;
    max-width: 700px;
    background: $sixth-color;
    padding: 40px;
    text-align: center;
  }
}
.cp-text-img {
  background: #fff;
  position: absolute;
  top: 65%;
  p, span {
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #0596de;
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  span {
    padding: 0;
    color: $fourth-color;
  }
}

.cp-text {
  p, span {
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #0596de;
    max-width: 65%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  span {
    padding: 0;
    color: $fourth-color;
  }
}
.name-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 75%;
    margin: 50px auto 10px;
  .section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      color: $primary-color;
      font-family: $secondary-font;
      font-size: 20px;
      line-height: 40px;
      list-style: none;
      span {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
        color: $primary-color;
      }
    }
  }
  .section-two {
    display: flex;
    justify-content: center;
    li {
      font-family: $secondary-font;
      font-size: 20px;
      line-height: 40px;
      list-style: none;
      color: $primary-color;
      span {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 40 px;
        color: $primary-color;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .ourTeam-header {
    flex-direction: column;
    margin-top: 90px;
    .ourTeam-img {
      width: 100%;
    }
    .ourTeam-resume {
      width: 80%;
    }
  }
}

@media screen and (max-width: 767px) {
    .name-container {
        flex-direction: column;
        .section-one {
            width: 100%;
        }
        .section-two {
            width: 100%;
        }
    }
}

@media screen and (max-width: 480px) {
  .name-container {
    padding-top: 0px;
    max-width: 100%;
  }
  .ourTeam-resume {
    padding: 0;
    max-width: 90%;
    p,span {
      font-size: 16px;
      line-height: 32px;
      max-width: 100%;
    }
  }

  .cp-specialities {
    .row {
      flex-direction: column;
    }
  }

  .cp-text-button-pink {
    p {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .cp-text-img {
    top: 75%;
    p, span {
      padding: 10px;
      line-height: 25px;
      font-size: 16px;
      max-width: 100%;
    }
    span {
      padding: 0;
    }
  }

  .cp-text {
    p, span {
      padding: 10px;
      line-height: 25px;
      font-size: 18px;
      max-width: 100%;
    }
    span {
      padding: 0;
    }
  }
}
