
  .ourTeam-resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 9px;
    text-align: center;
    max-width: 650px;
    margin: 0 auto 50px;
    span {
      font-family: $primary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 3px;
      color: $primary-color;
    }
    p {
      font-family: $primary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      color: $primary-color;
      max-width: 700px;
    }
  }

.ourTeam-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  .ourTeam-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .section-one {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $third-color;
    li {
      color: $primary-color;
      font-family: $secondary-font;
      font-size: 20px;
      line-height: 50px;
      list-style: none;
      span {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px;
        color: $primary-color;
      }
    }
  }
  .section-two {
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: center;
    background-color: $third-color;
    li {
      font-family: $secondary-font;
      font-size: 20px;
      line-height: 50px;
      list-style: none;
      color: $primary-color;
      span {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px;
        color: $primary-color;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .ourTeam-header {
    flex-direction: column;
    margin-top: 90px;
    .ourTeam-img {
      width: 100%;
    }
    .ourTeam-resume {
      width: 80%;
    }
  }
}

@media screen and (max-width: 767px) {
    .name-container {
        flex-direction: column;
        .section-one {
            width: 100%;
        }
        .section-two {
            width: 100%;
        }
    }
}
