.recruitment-page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: $third-color;
  padding-top: 25px;
  padding-bottom: 80px;
  h2 {
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #0596de;
    text-align: center;
    padding: 25px 0 20px 0;
  }
  .recruitment-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;

    .btn {
      margin-inline: auto;
    }
    h3 {
      text-align: center;
      font-family: $primary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #0596de;
      text-align: center;
      padding: 25px 0 20px 0;
    }
    .recruitment-img-1 {
      margin-bottom: 40px;
      box-shadow: -20px -15px $primary-color;
    }
    .recruitment-img-2 {
      margin-bottom: 40px;
      box-shadow: 20px -15px $primary-color;
    }
  }
}

.recruitment-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  max-width: 800px;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #224358;
  padding: 0 40px 0 40px;
  ul {
    li {
      list-style: circle;
      margin: 5px 0 5px 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .recruitment-page-section {
    margin-top: 90px;
  }
}

@media screen and (max-width: 480px) {
  .recruitment-page-section {
    height: auto;
    padding-top: 0;
    padding-bottom: 50px;
    margin-top: 50px;
    .recruitment-buttons-container {
      width: 100%;
    }
    .recruitment-img-container {
      flex-direction: column;
      .recruitment-img-1 {
        margin-bottom: 40px;
      }
    }
  }
}
