$primary-color: #0596de;
$secondary-color: #ffff;
$third-color: #f7f6fe;
$fourth-color: #e74c3c;
$sixth-color: #fcd4da;

$neutral-black: #333333;
$neutral-white: #FFF;

.blue {
    color: $primary-color;
};

.black {
    color: $neutral-black;
};

.white {
    color: $neutral-white;
}

.red {
    color: $fourth-color;
}