@import "./Variables";

.doctor-text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  .doctor-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    max-width: 800px;
    font-family: $palanquin;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #224358;
    padding: 40px 40px 40px 40px;
  }
}
