@import './Variables';

* {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: bold;
}

p {
  font-family: $palanquin;
}

a {
  text-decoration: none;
}

.cards-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  background-color: $pink-color;
  padding: 50px;
  .cards-section-one {
    display: flex;
  }
  .cards-section-two {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.about-section {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  .about-img-container {
    width: 100%;
    height: auto;
  }
  .about-text-container {
    width: 100%;
    span {
      font-family: $palanquin;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $blue-color;
    }
    h2 {
      font-family: $palanquin-dark;
      font-style: normal;
      font-weight: normal;
      font-size: 56px;
      line-height: 64px;
      color: #333333;
      margin: 15px 0 30px 0;
      span {
        font-family: $palanquin-dark;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 64px;
        color: #333333;
        margin: 15px 0 30px 0;
        color: $red-color;
      }
    }
    .about-first-text {
      font-family: $palanquin;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      color: #224358;
      margin-bottom: 50px;
    }
    .about-second-text {
      font-family: $palanquin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      color: rgba(34, 67, 88, 0.501557);
      margin-bottom: 50px;
    }
  }
}

.post-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $pink-color;
  padding: 55px;
  span {
    font-family: $palanquin-dark;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $blue-color;
  }
  h2 {
    font-family: $palanquin-dark;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    color: #333333;
    margin: 15px 0 30px 0;
  }
  .post-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 25px 0 25px 0;
  }
}

.numbers-section {
  background-color: $blue-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  padding: 50px;
  :nth-child(4n) {
    .the-number {
      width: 100%;
      text-align: left;
      &::after {
        content: "000";
        position: absolute;
      }
    }
  }
}

.newsLetter-section {
  background-color: $blue-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  .newsLetter-text-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    .newsLetter-logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      &::before {
        content: "";
        position: absolute;
        background-color: #02499e;
        width: 130px;
        height: 130px;
        border-radius: 50%;
      }
    }
    .newsLetter-text {
      width: 400px;
      padding: 25px;
      p {
        font-family: $palanquin;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: $white-color;
      }
    }
  }
  .newsLetter-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    height: 176px;
    left: 735px;
    top: 3454px;
    background: $white-color;
    border-radius: 16px;
    .form-container form label {
      color: black;
    }
  }
}

.recruitment-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 50px 70px 50px;
  .recruitment-text {
    span {
      font-family: $palanquin-dark;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $blue-color;
    }
    h2 {
      font-family: $palanquin-dark;
      font-style: normal;
      font-weight: normal;
      font-size: 56px;
      line-height: 64px;
      color: #333333;
      margin-top: 15px;
      margin-bottom: 35px;
    }
  }
}

@media screen and (max-width: 1140px) {
  .newsLetter-section {
    flex-direction: column;
    .newsLetter-text-logo {
      margin-bottom: 50px;
    }
  }
  .recruitment-section {
    flex-direction: column-reverse;
    .recruitment-text {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .cards-sections {
    .cards-section-one {
      flex-direction: column;
    }
    .cards-section-two {
      flex-direction: column;
    }
  }
  .about-section {
    flex-direction: column;
    padding: 25px;
    .about-text-container {
      h2 {
        font-size: 35px;
        line-height: 50px;
        span {
          font-size: 32px;
        }
      }
    }
  }
  .newsLetter-section {
    flex-direction: column;
    .newsLetter-text-logo {
      flex-direction: column;
      .newsLetter-logo-container {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .newsLetter-section {
    flex-direction: column;
    .newsLetter-text-logo {
      flex-direction: column;
      .newsLetter-logo-container {
        margin-bottom: 30px;
      }
      .newsLetter-text {
        width: 240px;
        padding: 0;
      }
    }
    .newsLetter-form-container {
      width: 240px;
    }
  }
}

@media screen and (max-width: 280px) {
  .newsLetter-section {
    .newsLetter-text-logo {
      .newsLetter-logo-container {
        margin-bottom: 30px;
      }
    }
    .newsLetter-form-container {
      padding: 10px;
    }
  }
}
