@import "./Variables";
.prices-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  background-color: $pink-color;
  padding-top: 50px;
  .pricesTable-container {
    display: flex;
    margin-top: 20px;
  }

  .small-title {
    font-family: $palanquin-dark;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $blue-color;
    text-align: center;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .prices-section {
    flex-direction: column;
    margin-top: 90px;
    height: auto;
    .pricesTable-container {
      flex-direction: column;
      .prices-resume {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    .prices-img {
      width: auto;
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 480px) {
  .prices-section {
    margin-top: 40px;
  }
}
