@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@300;400&display=swap");

$blue-color: #0596de;
$pink-color: #f7f6fe;
$white-color: #ffff;
$red-color: #e74c3c;
$palanquin-dark: 'Palanquin Dark', sans-serif;
$palanquin: 'Palanquin', sans-serif;
$roboto: 'Roboto', 'sans-serif;'
