@font-face {
  font-family: palanquinDark;
  src: local("palanquinDark"),
    url("../../assets/fonts/PalanquinDark-Regular.ttf") format("truetype");
}

@font-face {
  font-family: palanquin;
  src: local("palanquin"),
    url("../../assets/fonts/Palanquin-Regular.ttf") format("truetype");
}

$primary-color: #0596de;
$secondary-color: #ffff;
$third-color: #f7f6fe;
$fourth-color: #e74c3c;
$primary-font: palanquinDark, sans-serif;
$secondary-font: palanquin, sans-serif;
$third-font: "Roboto", "sans-serif;";
