@font-face {
  font-family: palanquinDark;
  src: url("../../assets/Fonts/PalanquinDark-Regular.ttf");
}

@font-face {
  font-family: palanquin;
  src: url("../../assets/Fonts/Palanquin-Regular.ttf");
}

$primary-color: #0596de;
$secondary-color: #ffff;
$third-color: #f7f6fe;
$fourth-color: #e74c3c;
$sixth-color: #fcd4da;
$primary-font: palanquinDark, sans-serif;
$secondary-font: palanquin, sans-serif;
$third-font: "Roboto", "sans-serif;";
