.nav-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 140px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: #ffff;
  z-index: 100;
  padding-top: 10px;
  //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .logo {
    display: none;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 15px;
    right: 10px;
    width: 200px;
    height: 80px;
  }

  .logo-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 10px;
    width: 200px;
    height: 80px;
    @media screen and (min-width: 780px) {
      display: none;
    }
  }
}


@media screen and (max-width: 480px) {
  .nav-container {
    height: 100px;
  }

  .logo {
    display: none;
  }
}
