.footer {
  width: 100%;
  height: auto;
  background-color: #333333;

  .footer-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 65%;
    padding: 10px 100px 40px 100px;
    .footer-logo-container {
      height: 150px;
      align-items: flex-end;
      display: flex;
      img {
        top: 35px;
      }
    }
  }
  hr {
    margin-right: 100px;
    margin-left: 100px;
    height: 1px;
    background: $secondary-color;
    opacity: 0.1;
  }

  .footer-second-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 35%;
    padding: 40px 0 40px 0;
    p {
      font-family: $secondary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.502972);
    }
    .footer-link {
      display: flex;
      justify-content: space-between;
      width: 700px;
      a {
        text-decoration: none;
        font-family: $secondary-font;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: $secondary-color;
      }
    }
  }
}

input,
label {
  display: block;
}

@media screen and (max-width: 767px) {
  .footer {
    hr {
      margin-right: 30px;
      margin-left: 30px;
      margin-bottom: 45px;
    }

    .footer-second-section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .footer-link {
        margin-top: 35px;
        width: auto;
        flex-direction: column;
      }
    }
  }
}
