.mapList-container {
  width: 45%;
  height: auto;
  max-height: 1000px;
  overflow: scroll;

  .li-center {
    display: flex;
    position: relative;
    min-height: 165px;
    height: auto;
    left: 900px;
    opacity: 0;
    transition: transform 200ms ease-in;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
    animation-name: slidein;
    &:hover,
    &:focus {
      transform: translateX(-10px);
    }
    .li-img-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 192px;
      margin: 15px;
    }
    .li-text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 10px;
      h2 {
        font-family: $secondary-font;
        color: $primary-color;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 10px;
        .red-seven {
          color: $fourth-color;
          padding-right: 5px;
        }
      }
      .li-address {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
      }
      .open {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 14px;
        color: #22c679;
      }
      .close {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 14px;
        color: red;
      }
      .opening-soon {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 14px;
        color: #22c679;
      }
    }
    .li-buttons-container {
      display: flex;
    }
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    left: 900px;
  }

  to {
    opacity: 1;
    left: 0px;
  }
}

@media screen and (max-width: 1800px) {
  .mapList-container {
    width: 50%;
  }
}

@media screen and (max-width: 1190px) {
  .mapList-container {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .mapList-container {
    display: none;
  }
}
