.h1-map {
  font-family: $primary-font;
  position: fixed;
  width: 100%;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #0596de;
  z-index: 100;
}
.mapAndList-container {
  display: flex;
  padding-top: 110px;
  .google-map-container {
    width: 65%;
    height: auto;
    position: relative;
    .gm-style .gm-style-iw-c {
      border: 3px solid $primary-color;
    }

    .gm-style .gm-style-iw-t {
      &::after {
        border: 3px solid $primary-color;
        z-index: -1;
      }
    }
    .infoWindow-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 270px;
      height: auto;
      text-align: center;
      .infoWindow-img-container {
        width: auto;
        height: auto;
      }
      h2 {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
        color: $primary-color;
        .red-seven {
          color: $fourth-color;
          padding-right: 5px;
        }
      }
      .infoWindow-address {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin: 5px 0 5px 0;
        max-width: 250px;
      }

      .open {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 14px;
        color: #22c679;
        margin: 5px 0 5px 0;
      }
      .close {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 14px;
        color: red;
        margin: 5px 0 5px 0;
      }
      .show-more {
        color: $primary-color;
        &::after {
          content: url("../../images/icons/right-arrow.png");
          position: relative;
          top: 4.5px;
          left: 3px;
        }
      }
      .opening-soon {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 14px;
        color: #22c679;
        margin: 5px 0 5px 0;
      }
    }
  }
}

div[role="button"] {
  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 1800px) {
  .mapAndList-container {
    .google-map-container {
      width: 50%;
    }
  }
}

@media screen and (max-width: 1140px) {
  .h1-map {
    top: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 1190px) {
  .mapAndList-container {
    flex-direction: column;
    .google-map-container {
      height: 400px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .h1-map {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 480px) {
  .h1-map {
    font-size: 14px;
    top: 84px;
    width: 100%;
  }
  .mapAndList-container {
    padding-top: 80px;
    .google-map-container {
      min-height: 100vh;
      .infoWindow-container {
        width: auto;
        height: auto;
        .infoWindow-img-container {
          .gatsby-image-wrapper {
            width: 150px !important;
            height: 92px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .h1-map {
    display: none;
  }
}
