.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 900px;
  margin: 0px auto;

  .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 200px;

    h1 {
      font-family: $primary-font;
      font-size: 35px;
      text-align: center;
      color: $primary-color;
      font-weight: 400;
      margin: 0;
      span {
        color: #e74c3c;
      }
    }

    a {
      text-decoration: none;
    }
    .slick-prev:before,
    .slick-next:before {
      display: none;
      font-size: 32px;
    }
  }
  

  .slick-slider {
    width: 100%;
    margin-top: 150px;

    .slick-list {
      height: 190px;
    }
  }
  .slick-arrow {
    display: none !important;
  }
  .slick-prev:before,
  .slick-next:before {
    color: $primary-color;
  }

  .slick-dots li.slick-active button:before {
    color: $primary-color;
  }

  .text-carousel {
    font-family: $primary-font;
    font-size: 20px;
    font-weight: 700;
    color: $primary-color;
    text-align: center;
  }

  .img-container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    .img-carousel {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .main-p {
    margin-top: 50px;
    width: 538px;
    height: auto;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: $primary-color;
  }

  li {
    font-family: $secondary-font;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    list-style: none;
    color: $fourth-color;
  }


  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    .button {
      margin: 30px;
    }
  }

  &::before {
    display: none;
    content: "";
    position: absolute;
    width: 225px;
    height: 225px;
    background-color: $primary-color;
    background-image: url("../../assets/images/header/Combined\ Shape.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    top: 675px;
    left: 0;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    width: 225px;
    height: 225px;
    background-color: $primary-color;
    background-image: url("../../assets/images/header/Combined\ Shape.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    top: 200px;
    right: 0;
  }

  .img-header-heart {
    position: absolute;
    width: 200px;
    position: absolute;
    top: 250px;
    right: 125px;
    z-index: 1;
  }

  .img-header-stethoscope {
    position: absolute;
    width: 200px;
    position: absolute;
    top: 390px;
    left: 125px;
    z-index: 1;
  }
}

h1 {
  font-family: $primary-font;
  font-size: 62px;
  text-align: center;
  margin-bottom: 20px;
  color: $primary-color;
  font-weight: 400;
  span {
    color: #e74c3c;
  }
}

@media screen and (max-width: 1140px) {
  .header {
    &::before {
      display: none;
    }
    &::after {
      display: none;
      left: 25px;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    min-height: 1015px;
    .main-container {
      width: auto;
    }
    .slick-slider {
      width: 400px;
    }

    .main-p {
      width: 400px;
    }

    .button-container {
      flex-direction: column;
    }
  }

  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    min-height: 1000px;
    .pop-up {
      margin: 0 5px 0 5px;
    }
    .main-container {
      width: auto;
      top: 125px;
      h1 {
        font-size: 20px;
        padding-top: 10px;
      }
    }

    .main-p {
      width: 300px;
    }
  }

  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 280px) {
  .header {
    height: 1080px;
    .slick-slider {
      width: 200px;
    }
    .main-p {
      width: 200px;
    }
  }

  h1 {
    font-size: 28px;
  }
}
